

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

a {
    color: black;
}
.dialog {
    margin-bottom: 15px;
}

.dialogsItems a.activeLink{
    color: white;
}

.dialog img {
    width: 50px;
}



.messages {
    padding: 10px;
    background: #0000ff24;
}

.message {

}
